################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyList/.vs/MyList
/MyList/obj
/MyListTests/bin/Debug/net8.0
/MyListTests/obj
/MyList/bin/Debug/net8.0
